*{
    Box-sizing: border-box;
    }


    .titulo_cadastro{
        font-family:fantasy;
        font-weight: 100;
        font-style:italic;
        font-size: 5dvh;
        top: 0;
    }

.campo_cadastro{
    position: absolute;
    display: flex;
    width: 70dvh;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: #333;
    flex-direction: column;
    text-align: center;
    border-radius: 0 40px 40px 0;
    transition: all ease 0.5s;
}
.cadastro{
    width: 50dvh;
    height: 45dvh;
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:solid 1px;
}


.cadastro p{
   
    font-weight:bolder;
    color: #141313;
    font-size: 2.3dvh;

}
.inserir_nome{
    position: relative;
    height: 4dvh;
    width: 80%;
    border: 1px solid black;
    border-radius: 7px;
    color: #333;
    font-weight: 700;
}
.inserir_data{
    position: relative;
    height: 4dvh;
    width: 80%;
    border: 1px solid black;
    border-radius: 7px;
    color: #333;
    font-weight: 700;
}
.inserir_area{
    position: relative;
    height: 4dvh;
    width: 80%;
    border: 1px solid black;
    border-radius: 7px;
    color: #333;
    font-weight: 700;
}

input{
    text-align: center;
}
input:focus{
    outline-style: none;
}

.campo_aniversario{
display: flex;
position:absolute;
top: 0;
left: 70dvh;
background-color:aqua;
height: 100%;
width: calc(100% - 70dvh);
z-index: -1;
transition: all ease 0.5s;
justify-content: center;
align-items: center;
}
i{
position: absolute;
top: 0;
right: 0;
margin-top: 10px;
margin-right: 10px;
color: rgb(0, 0, 0);
font-size: 6dvh; 
transition: all ease 0.5s;
}

i:hover{
    scale: 1.03;
    color: aqua;
    opacity: 0.9;
}
.abrir_cadastro{
    display: flex;
position: absolute;
height: 5.5dvh;
width: 30dvh;
top: 0;
bottom: 0;
right:0;
margin-top:auto;
margin-bottom: auto;
rotate:90deg;
transform: translateY(-300%);
justify-content: center;
align-items: center;
display:none;
transition: all ease 0.5s;
opacity: 0;
}
.abrir_cadastro p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    position: absolute;
    background-color: #333;
    color: aliceblue;
    border-radius: 20px  20px 0 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    letter-spacing: 4px;
    font-weight:900;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease 0.5s;
    
}